---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props as Props;
---

<div class:list={['rounded-xl border border-white/10 bg-slate-900/55 p-4', className]}>
  <slot />
</div>
